<div class="p-4 sm:mx-7">
  <mat-toolbar class="!h-full !p-0">
    <div class="w-full my-7">
      <h2 class="text-2xl !font-bold">Settings</h2>
      <p class="subtext text-sm whitespace-normal">Manage your profile and account settings</p>
    </div>
  </mat-toolbar>

  <div class="mt-7">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>account_circle</mat-icon>
          <span class="mx-2">Profile</span>
        </ng-template>

        <app-profile />
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>password</mat-icon>
          <span class="mx-2">Password</span>
        </ng-template>

        <app-update-password />
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
