<div>
  <div
    class="flex items-center justify-between gap-4 py-5 px-3 border rounded-t-md"
    [style.border-color]="'var(--mat-sys-secondary-container)'"
  >
    <mat-icon [style.color]="'var(--mat-extended-custom-color3-color-container)'">warning</mat-icon>
    <h2 class="text-lg mr-auto">Overdue</h2>
    <span
      class="w-7 h-7 rounded-md flex items-center justify-center"
      [style.background]="'var(--mat-sys-tertiary-fixed)'"
      [style.color]="'var(--mat-sys-on-tertiary-fixed-variant)'"
    >
      {{ projects().length }}
    </span>
  </div>

  <mat-card appearance="outlined">
    <div class="flex flex-col gap-3 p-4">
      @for (project of projects(); track project.id) {
      <a
        routerLink="/project-details"
        [queryParams]="{ id: project.id }"
        class="card flex flex-col gap-1 p-4 rounded-md"
      >
        <h3 class="text-[15px] font-semibold whitespace-nowrap text-ellipsis overflow-hidden">
          {{ project.name }}
        </h3>
        <p class="subtext">{{ project.priority }} Priority</p>
      </a>
      }
    </div>

    @if(projects().length <= 0 && !isLoading()){
    <p [style.color]="'var(--mat-sys-error2-container)'" class="my-4 text-center">
      Table is empty.
    </p>
    }
  </mat-card>

  @if(projects().length > 0){
  <mat-paginator
    [length]="totalElements()"
    [pageSize]="partialParams.size"
    [pageIndex]="partialParams.page - 1"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
  }
</div>
