<div class="p-4">
  <mat-toolbar class="!p-0 !my-7 !h-full">
    <div class="w-full flex flex-col items-start gap-4 sm:flex-row sm:justify-between">
      <form class="w-[100%] sm:w-[40%] sm:min-w-[250px]" (ngSubmit)="search(searchField)">
        <div class="flex items-center p-1 rounded-sm border">
          <mat-icon class="opacity-60">search</mat-icon>
          <input
            type="search"
            placeholder="Search projects..."
            class="text-sm p-1 outline-none placeholder:opacity-60 flex-1"
            #searchField
          />
        </div>
      </form>

      <button matButton="filled" (click)="openNewProjectDialog()">
        New Project
        <mat-icon fontIcon="add_circle"></mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="mt-7">
    <h2 class="font-bold text-2xl">Projects</h2>
    <p class="mb-7 text-gray-500">Manage and track your projects</p>

    <button
      matButton
      class="text-sm flex items-start mb-2"
      [style.background]="
        isFilterOn()
          ? 'var(--mat-sys-primary-fixed-dim)'
          : 'var(--mat-sys-surface-container-highest)'
      "
      [disabled]="!isFilterOn()" 
      (click)="reset()"
    >
      <mat-icon fontIcon="all_inbox" class="!text-sm !h-fit !w-fit"></mat-icon>
      All
    </button>

    <app-project-card
      [projects]="projects()"
      [partialParams]="partialParams"
      [totalElements]="totalElements()"
      [totalPages]="totalPages()"
      [isLoading]="isLoading()"
      [isSearchLoading]="isSearchLoading()"
      (onClick)="onPageChange($event)"
    >
    </app-project-card>
  </div>
</div>
