<div class="projects-grid">
  <mat-card appearance="outlined">
    <a routerLink="/">
      <mat-card-header>
        <!-- <h2 class="font-bold text-[17px] pb-2 hover:text-[#046e8f]">Research Hero section</h2> -->
        <h2 class="font-bold text-[17px] pb-2">Research Hero section</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col gap-3">
          <p class="text-gray-500 font-light">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
            Japan. A small, agile dog that copes very well with mountainous terrain.
          </p>
          <!-- <div class="flex items-center justify-between text-gray-500"> -->
          <div class="flex items-center justify-between">
            <!-- <span class="bg-green-200 py-0.5 px-1 rounded-sm">ACTIVE</span> -->
            <span class="bg-green-500/40 py-0.5 px-1 rounded-sm">ACTIVE</span>
            <span>HIGH Priority</span>
          </div>

          <div class="flex flex-col gap-2">
            <div class="flex items-center justify-between text-gray-500">
              <small>Progress</small>
              <small>0%</small>
            </div>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </div>
        </div>
      </mat-card-content>
    </a>
  </mat-card>

  <mat-card appearance="outlined">
    <a routerLink="/">
      <mat-card-header>
        <!-- <h2 class="font-bold text-[17px] pb-2 hover:text-[#046e8f]">Research Hero section</h2> -->
        <h2 class="font-bold text-[17px] pb-2">Research Hero section</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col gap-3">
          <p class="text-gray-500 font-light">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
            Japan. A small, agile dog that copes very well with mountainous terrain.
          </p>
          <!-- <div class="flex items-center justify-between text-gray-500">
            <span class="bg-green-200 py-0.5 px-1 rounded-sm">ACTIVE</span> -->
          <div class="flex items-center justify-between">
            <span class="bg-green-500/40 py-0.5 px-1 rounded-sm">ACTIVE</span>
            <span>HIGH Priority</span>
          </div>

          <div class="flex flex-col gap-2">
            <div class="flex items-center justify-between text-gray-500">
              <small>Progress</small>
              <small>0%</small>
            </div>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </div>
        </div>
      </mat-card-content>
    </a>
  </mat-card>

  <mat-card appearance="outlined">
    <a routerLink="/">
      <mat-card-header>
        <!-- <h2 class="font-bold text-[17px] pb-2 hover:text-[#046e8f]">Research Hero section</h2> -->
        <h2 class="font-bold text-[17px] pb-2">Research Hero section</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col gap-3">
          <p class="text-gray-500 font-light">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
            Japan. A small, agile dog that copes very well with mountainous terrain.
          </p>
          <!-- <div class="flex items-center justify-between text-gray-500">
            <span class="bg-green-200 py-0.5 px-1 rounded-sm">ACTIVE</span> -->
          <div class="flex items-center justify-between">
            <span class="bg-green-500/40 py-0.5 px-1 rounded-sm">ACTIVE</span>
            <span>HIGH Priority</span>
          </div>

          <div class="flex flex-col gap-2">
            <div class="flex items-center justify-between text-gray-500">
              <small>Progress</small>
              <small>0%</small>
            </div>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </div>
        </div>
      </mat-card-content>
    </a>
  </mat-card>

  <mat-card appearance="outlined">
    <a routerLink="/">
      <mat-card-header>
        <!-- <h2 class="font-bold text-[17px] pb-2 hover:text-[#046e8f]">Research Hero section</h2> -->
        <h2 class="font-bold text-[17px] pb-2">Research Hero section</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col gap-3">
          <p class="text-gray-500 font-light">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
            Japan. A small, agile dog that copes very well with mountainous terrain.
          </p>
          <!-- <div class="flex items-center justify-between text-gray-500">
            <span class="bg-green-200 py-0.5 px-1 rounded-sm">ACTIVE</span> -->
          <div class="flex items-center justify-between">
            <span class="bg-green-500/40 py-0.5 px-1 rounded-sm">ACTIVE</span>
            <span>HIGH Priority</span>
          </div>

          <div class="flex flex-col gap-2">
            <div class="flex items-center justify-between text-gray-500">
              <small>Progress</small>
              <small>0%</small>
            </div>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </div>
        </div>
      </mat-card-content>
    </a>
  </mat-card>
</div>
