:host{
    .list-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2em;
    }

    .mat-icon {
        font-size: 24px;
        height: fit-content;
        width: fit-content;
    }

    // --mat-list-list-item-container-shape: .5em;

    // .overdue-card .mat-mdc-card-outlined{
    //     --mat-card-outlined-outline-color: rgb(235, 109, 71);
    //     box-shadow: -2px 0 1px rgb(243, 79, 29);
    // }
}