<div class="h-full flex flex-col items-center justify-center gap-7 px-2 sm:px-4 sm:flex-row">
  <div class="flex flex-col gap-5">
    <h1 class="uppercase text-2xl font-bold">
      conquer your day day.
      <br />
      <span class="text-green-600">effortelestly.</span>
    </h1>

    <p>
      Organize projects, set priorities, and track progress, all <br />
      in one. Intuitive platform built with Angular and Spring boot.
    </p>

    <div class="flex items-center gap-3">
      <button matButton="filled" (click)="openSignUpDialog()">Sign Up</button>
      <button matButton="outlined" (click)="openLoginDialog()">Login</button>
    </div>
  </div>

  <div>
    <img src="/homepage.png" alt="home page" class="w-full max-w-[350px] md:max-w-[450px]" />
  </div>
</div>
